@inject HttpClient Http
@inject Blazored.LocalStorage.ILocalStorageService localStorage

@using System.Text.Json

<div class="row">
    <div class="col">
        <p>Not implemented yet</p>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<int> IncrementXP { get; set; }
}
